---
layout: default
---
<div class="home">
  {% assign categories = site.categories | sort %}
  <div>
    {% for category in categories %}
    <a href="#{{ category[0] }}">{{ category | first | slugify}}({{category | last | size}})</a>
    {% endfor %}
  </div>

  <div class="page-content-sorted">
    {% for category in categories %}
    <h2 id="{{ category[0] }}">
      {{ category | first | slugify}}
      <span>{{category | last | size}}</span>
    </h2>
    <ul>
      {% for post in site.posts %}
    {% if post.categories contains category[0] %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>  <span>{{ post.date | date: "%Y/%m/%-d" }}</span>
      </li>
        {% endif %}
  {% endfor %}
      </ul>
      {% endfor %}
    </div>

  </div>