---
layout: default
---
    
  {% assign categories = site.categories | sort %}
  <div class="category-list">
  <h2>Category</h2>
    {% for category in categories %}
    <a href="#{{ category[0] }}">{{ category[0] }}({{category | last | size}})</a>
    {% endfor %}
  </div>
    
  <div class="post-list">
    {% for category in categories %}
    <h2 id="{{ category[0] }}">
      {{ category[0] }}
      <span>{{category | last | size}}</span>
    </h2>
    <ul>
      {% for post in site.posts %}
    {% if post.categories contains category[0] %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>  <span>{{ post.date | date: "%Y/%m/%-d" }}</span>
      </li>
        {% endif %}
  {% endfor %}
      </ul>
      {% endfor %}
          
    </div>
