/**
 * Site header
 */
.site-header {
//    background-image: url(http://static.bootcss.com/expo/img/d/dd/2de797545de56274f03a5920eb3a1.jpg);
    background-image: url(https://ooo.0o0.ooo/2016/07/29/579c09ca1243f.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 438px;
    color: $white-color;
    margin-bottom: 30px;
}

.site-info {
    padding-right: 15px;
    padding-left: 15px;
    min-height: 20px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 138px;
}

.site-title {
    display: block;
    margin-bottom: 30px;
    border: 0;
    
    a {
        font-weight: bold;
        color: $white-color;
        font-size: 64px;
    }
}

.site-description {
    display: block;
    border: 0;
    
    p {
        font-weight: 100;
        font-size: 32px;
    }
}

.site-nav {
    float: left;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        letter-spacing: 1px;
        font-size: 1.2em;
        font-weight: bold;
        color: inherit;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
    
    p {
        color: $grey-color;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-category {
    margin-bottom: 50px;
}

.post-list {
    margin-top: $spacing-unit * 2;
    
    h2 {
        margin-top: $spacing-unit * 1.5;
        margin-bottom: 20px;
         
        span {
            color: #ffffff;
            background-color: #bcbcbc;
            border-radius: 5px;
            padding: 2px 10px 2px 10px;
            font-size: 50%;
            font-weight: bold;
            vertical-align: middle;
        }
    }

    li {
        margin: 15px 0px 15px 20px;
        font-size: 120%; 
        
        span {
            font-size: 80%;
            color: $grey-color;
        }
    }
}

.category-list {
    padding: 20px;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    
    p, li {
        line-height: 1.8;
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
